[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pip_conf_index_global"

[packages]
odc-stac = "*"
dask = {extras = ["distributed"], version = "*"}
numpy = "==2.1"
rioxarray = "*"
dask-flood-mapper = {extras = ["test"], file = ".", editable = true}

[dev-packages]
pytest = "*"
hvplot = "*"
jupyter-book = "*"
ruff = "*"
pre-commit = "*"
nbstripout = "*"

[requires]
python_version = "3.12"
