[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pip_conf_index_global"

[packages]
dask-flood-mapper = {file = ".", editable = true}
odc-stac = "*"
dask = {extras = ["distributed"], version = "*"}
numpy = "==2.1"
rioxarray = "*"
ruff = "*"
pre-commit= "*"

[dev-packages]
pytest = "*"
jupyter-book = "*"
hvplot = "*"

[requires]
python_version = "3.12"
