[[source]]
url = "https://pypi.geo.tuwien.ac.at/simple"
verify_ssl = true
name = "pip_conf_index_global"

[packages]
hvplot = "*"
sphinx = "*"
dask-flood-mapper = {file = ".", editable = true}
dask = {extras = ["distributed"], version = "*"}
rioxarray = "*"
ruff = "*"
pre-commit= "*"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.12"
